<template>
    <div class="container" v-if="!showBoard">
        <h3 class="text-center text-primary display-4 m-4">Create Project</h3>
        <div>
            <button class="btn btn-primary" @click="changeLang('en')">en</button>
            <button class="btn btn-success"  @click="changeLang('de')">de</button>
        </div>
    <form-wizard @onComplete="onComplete" class="container">
        <tab-content v-bind:title="this.chLang == 'en' ? this.lang.en.step1 : this.lang.de.step1" :selected="true" class="p-4">
            <div class="form-group form-group-lg">
                <label class="h4 py-3" for="title">{{this.chLang == 'en' ? this.lang.en.title : this.lang.de.title}}</label>
                <input
                    type="text"
                    class="form-control form-control-lg"
                    :class="hasError('title') ? 'is-invalid' : ''"
                    v-model="formData.title"
                >
                <div v-if="hasError('title')" class="invalid-feedback">
                    <div class="error" v-if="!$v.formData.title.required">Your Title is Required</div>
                </div>
            </div>

            <div class="form-group form-group-lg">
                <label for="intro" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.intro : this.lang.de.intro}}</label>
                <input
                    type="text"
                    class="form-control form-control-lg"
                    :class="hasError('intro') ? 'is-invalid' : ''"
                    v-model="formData.intro"
                >
                <div v-if="hasError('intro')" class="invalid-feedback">
                    <div class="error" v-if="!$v.formData.title.required">Your Intro is Required</div>
                </div>
            </div>

            <div class="form-group form-group-lg">
                <label for="description" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.description : this.lang.de.description}}</label>
                <textarea
                    rows="8"
                    class="form-control form-control-lg"
                    :class="hasError('description') ? 'is-invalid' : ''"
                    placeholder="Enter your Description"
                    v-model="formData.description"
                >
                </textarea>
                <div v-if="hasError('description')" class="invalid-feedback">
                    <div class="error" v-if="!$v.formData.title.required">Your Description is Required</div>
                </div>
            </div>
        </tab-content>

        <tab-content :title="this.chLang == 'en' ? this.lang.en.step2 : this.lang.de.step2">
            <div class="form-group">
                <label for="img_title" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.img_title : this.lang.de.img_title}}</label>
                <input
                    type="text"
                    class="form-control"
                    :class="hasError('img_title') ? 'is-invalid' : ''"
                    v-model="formData.img_title"
                >
                <div v-if="hasError('img_title')" class="invalid-feedback">
                    <div
                        class="error"
                        v-if="!$v.formData.img_title.required"
                    >Please provide a Image Title.</div>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-file mb-3">
                    <input type="file" @change="uploadImage" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="img">Choose file</label>
                </div>
                <div v-if="hasError('img')" class="invalid-feedback">
                    <div
                        class="error"
                        v-if="!$v.formData.img.required"
                    >Please provide a Image Title.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="img_desc" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.img_desc : this.lang.de.img_desc}}</label>
                <input
                    type="text"
                    class="form-control"
                    :class="hasError('img_desc') ? 'is-invalid' : ''"
                    v-model="formData.img_desc"
                >
                <div v-if="hasError('img_desc')" class="invalid-feedback">
                    <div
                        class="error"
                        v-if="!$v.formData.img_desc.required"
                    >Please provide a Image Descriiptioon.</div>
                </div>
            </div>
        </tab-content>

        <tab-content :title="this.chLang == 'en' ? this.lang.en.step3 : this.lang.de.step3">
            <div class="form-group">
                <label for="goal" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.goal : this.lang.de.goal}}</label>
                <textarea
                    rows="10"
                    placeholder="Financial Goal"
                    class="form-control row-5"
                    :class="hasError('goal') ? 'is-invalid' : ''"
                    v-model="formData.goal"
                >
                </textarea>

                <div v-if="hasError('goal')" class="invalid-feedback">
                    <div
                        class="error"
                        v-if="!$v.formData.goal.required"
                    >Please provide a your Financial Goal.</div>
                </div>
            </div>
        </tab-content>

        <tab-content :title="this.chLang == 'en' ? this.lang.en.step4 : this.lang.de.step4">
            <div class="form-group">
                <label for="opt_title" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.opt_title : this.lang.de.opt_title}}</label>
                <input
                    type="text"
                    class="form-control"
                    :class="hasError('opt_title') ? 'is-invalid' : ''"
                    v-model="formData.opt_title"
                >

                <div v-if="hasError('opt_title')" class="invalid-feedback">
                    <div
                        class="error"
                        v-if="!$v.formData.opt_title.required"
                    >Please provide a your Title.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="opt_amount" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.opt_amount : this.lang.de.opt_amount}}</label>
                <input
                    type="text"
                    class="form-control"
                    :class="hasError('opt_amount') ? 'is-invalid' : ''"
                    v-model="formData.opt_amount"
                >
                <div v-if="hasError('opt_amount')" class="invalid-feedback">
                    <div
                        class="error"
                        v-if="!$v.formData.opt_amount.required"
                    >Your Amount is Required</div>
                    <div class="error" v-if="!$v.formData.opt_amount.numeric">Should be a valid value.</div>
                </div>

                <div class="form-group">
                    <label for="opt_desc" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.opt_desc : this.lang.de.opt_desc}}</label>
                    <textarea v-model="formData.opt_desc"
                              rows="10"
                              :class="hasError('opt_desc') ? 'is-invalid' : ''"
                              class="form-control" aria-describedby="title" placeholder="Description">
                    </textarea>
                </div>
            </div>
        </tab-content>

        <tab-content :title="this.chLang == 'en' ? this.lang.en.step5 : this.lang.de.step5">
            <div class="form-group">
                <label for="owner_name" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.owner_name : this.lang.de.owner_name}}</label>
                <input
                    type="text"
                    class="form-control row-5"
                    :class="hasError('owner_name') ? 'is-invalid' : ''"
                    v-model="formData.owner_name"
                >

                <div v-if="hasError('owner_name')" class="invalid-feedback">
                    <div
                        class="error"
                        v-if="!$v.formData.owner_name.required"
                    >Please provide a your Name.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.email : this.lang.de.email}}</label>
                <input
                    type="email"
                    class="form-control"
                    :class="hasError('email') ? 'is-invalid' : ''"
                    v-model="formData.email"
                >
                <div v-if="hasError('email')" class="invalid-feedback">
                    <div class="error" v-if="!$v.formData.email.required">Email field is required</div>
                    <div class="error" v-if="!$v.formData.email.email">Should be in email format</div>
                </div>
            </div>
            <div class="form-group">
                <label for="owner_info" class="h4 py-3">{{this.chLang == 'en' ? this.lang.en.owner_info : this.lang.de.owner_info}}</label>
                <textarea v-model="formData.owner_info"
                          :class="hasError('owner_info') ? 'is-invalid' : ''"
                          class="form-control" aria-describedby="title" rows="6" placeholder="Owner Info">
                                </textarea>
            </div>
        </tab-content>

    </form-wizard>
    </div>
    <div class="container bg-black" v-else>
        <dashboard></dashboard>
    </div>
</template>

<script>
import { FormWizard, TabContent, ValidationHelper } from "vue-step-wizard";
import "vue-step-wizard/dist/vue-step-wizard.css";
import { required } from "vuelidate/lib/validators";
import { email } from "vuelidate/lib/validators";
import { numeric } from "vuelidate/lib/validators";
import lang from "../store/language";

export default {
    name: "StepFormValidation",
    components: {
        FormWizard,
        TabContent
    },
    mixins: [ValidationHelper],
    data() {
        return {
            showBoard: false,
            formData: {
                title: "",
                intro: "",
                description: "",
                img:"",
                img_title: "",
                img_desc: "",
                goal: "",
                opt_title: "",
                opt_amount: null,
                opt_desc:"",
                owner_name:"",
                email:"",
                owner_info:""
            },
            validationRules: [
                { title: { required }, intro: { required}, description: {required} },
                { img: { required }, img_title: { required }, img_desc: { required} },
                { goal: { required }},
                { opt_title: { required }, opt_amount: { required, numeric}, opt_desc:{required} },
                { owner_name: { required }, email: { required, email}, owner_info: { required} },
            ],
            chLang:'en',
            lang: {},
        };

    },
    created() {
        this.$root.$on('goBack',()=>{
              this.showBoard = false;
              this.formData = []
        });
        this.lang = lang
      console.log(lang)
    },
    methods: {
        changeLang(lang){

            this.chLang =lang
        },
        uploadImage(event){
            let file = event.target.files[0]
            let reader = new FileReader();
            reader.onloadend = (file) => {
                this.formData.img = reader.result;
            }
            reader.readAsDataURL(file)
        },
        onComplete() {
            axios.post('/api/create/project', this.formData)
                .then(({ response }) => {
                    console.log(response)
                })
            this.showBoard = true;
        },
    }
};
</script>
<style>
    input{
        font-size:18px;
        }

</style>
