<template>
    <div>
        <button class="btn btn-success" @click="goBack">Create Project</button>
    <div class="card">
        <div class="card-header">
           <h2 class="display-6 text-center">PROJECT INTRODUCTION</h2>
        </div>
        <div class="card-body">
                <h3 class="bg-info p-3 text-light">TITLE</h3>
                <p class="h5">{{formData.title}}</p>
        </div>
        <div class="card-body">
            <h3 class="bg-info p-3 text-light">INTRO</h3>
            <p class="h5">{{formData.intro}}</p>
        </div>
        <div class="card-body">
            <h3 class="bg-info p-3 text-light">DESCRIPTION</h3>
            <p class="h5">{{formData.description}}</p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2 class="display-6 text-center">IMAGES</h2>
        </div>
        <div class="card-body">
            <h3 class="bg-info p-3 text-light">TITLE</h3>
            <p class="h5">{{formData.img_title}}</p>
        </div>
        <div class="card-body">
            <h3 class="bg-info p-3 text-light">IMAGE</h3>
            <img :src="formData.image">
        </div>
        <div class="card-body">
            <h3 class="bg-info p-3 text-light">DESCRIPTION</h3>
            <p class="h5">{{formData.img_desc}}</p>
        </div>
    </div>

        <div class="card">
            <div class="card-header">
                <h2 class="display-6 text-center">GOAL</h2>
            </div>
            <div class="card-body">
                <h3 class="bg-info p-3 text-light">GOAL</h3>
                <p class="h5">{{formData.goal}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="display-6 text-center">PLEDGE OPTIONS</h2>
            </div>
            <div class="card-body">
                <h3 class="bg-info p-3 text-light">TITLE</h3>
                <p class="h5">{{formData.opt_title}}</p>
            </div>
            <div class="card-body">
                <h3 class="bg-info p-3 text-light">AMOUNT</h3>
                <p class="h5">{{formData.opt_amount}}</p>
            </div>
            <div class="card-body">
                <h3 class="bg-info p-3 text-light">DESCRIPTION</h3>
                <p class="h5">{{formData.opt_desc}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="display-6 text-center">OWNER INFO</h2>
            </div>
            <div class="card-body">
                <h3 class="bg-info p-3 text-light">NAME</h3>
                <p class="h5">{{formData.owner_name}}</p>
            </div>
            <div class="card-body">
                <h3 class="bg-info p-3 text-light">EMAIL</h3>
                <p class="h5">{{formData.email}}</p>
            </div>
            <div class="card-body">
                <h3 class="bg-info p-3 text-light">OWNER INFORMATION</h3>
                <p class="h5">{{formData.owner_info}}</p>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        data(){
            return{
                formData: [],
            }
        },
        mounted() {
            this.showForm();
        },
        methods:{
            goBack(){
                this.$root.$emit('goBack');
            },
            showForm(){
                axios.get('api/getproject').then((response)=>{
                    console.log(response.data)
                    this.formData = response.data
                }).catch((error)=>{
                    console.log(error)
                })
            }
        }
    }
</script>
